PER_PAGE = 6
SECRET_KEY = 'django-insecure-$7ncf*z6sa=x*talbji@c)e64n^($+_p%pzly1)4zqn2+lkq3i'
DEBUG = 1

# Database settings
# 'django.db.backends.postgresql_psycopg2'
# 'django.db.backends.mysql'
# 'django.db.backends.sqlite3'

DATABASE_ENGINE = 'django.db.backends.sqlite3'
DATABASE_NAME = './db.sqlite3'

# DATABASE_ENGINE = 'django.db.backends.postgresql'
# DATABASE_NAME = 'basededados'

DATABASE_USER = 'user'
DATABASE_PASSWORD = 'password'
DATABASE_HOST = '127.0.0.1'
DATABASE_PORT = '5432'

# 35.232.36.91 - não funciona
# 34.44.178.117 - funciona