<div class="main-content container">
  <form class="main-form" method="POST" action="{{ form_action }}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-content form-content-grid">
      {% for field in form %}
        <div class="form-group {{ field.field.widget.attrs.class }}">
          <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}

          {% if field.help_text %}
            <p class="help-text">{{ field.help_text }}</p>
          {% endif %}

          {{ field.errors }}
        </div>
        
        {% if field.name == 'cover' and field.value.url %}
          <div class="span-2">
            <img src="{{ field.value.url }}" alt="{{ recipe.title }}">
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- div class="form-content form-content-grid">
      <div class="form-group">
        {{ form.errors }}
      </div>
    </div -->

    <div class="form-content form-content-grid">
      <div class="form-group">
        <button type="submit">Registar</button>
      </div>
    </div>
  </form>
</div>
